/* You can add global styles to this file, and also import other style files */
:root {
  --background-color: #f4f4f4;
  --text-color: #333;
  --text-color-light: #414141;

  --color-1: #ed7d7d;
  --color-1-light: #f5baba;
  --color-1-dark: #e25353;

  --color-2: #63cb63;
  --color-2-light: #8ae98a;
  --color-2-dark: #4aa94a;

  --color-3: #70c1d5;
  --color-3-light: #8ed9e5;
  --color-3-dark: #4e9aae;

  --color-4: #fcef76;
  --color-4-light: #fffdaa;
  --color-4-dark: #cece3e;

  --color-5: #f1b471;
  --color-5-light: #f8d3a1;
  --color-5-dark: #c2823b;

  --color-6: #c385fb;
  --color-6-light: #d8aefc;
  --color-6-dark: #9e54e3;
}

body, html {
  height: 100%;
}

.card-header {
  border: none;
  background-color: unset;
}

.border-color-1 {
  border-color: var(--color-1);
}

.border-color-2 {
  border-color: var(--color-2);
}

.border-color-3 {
  border-color: var(--color-3);
}

.border-color-4 {
  border-color: var(--color-4);
}

.border-color-5 {
  border-color: var(--color-5);
}

.border-color-6 {
  border-color: var(--color-6);
}

.border-dotted {
  border-radius: 10px;
  border-style: dotted;
}

.shadow-blocked {
  box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}

.alert-danger {
  background-color: var(--color-1-light);
  border-color: var(--color-1);
  color: var(--color-1-dark);
}

/* Text colors */
.text-color-1 { color: var(--color-1); }
.text-color-2 { color: var(--color-2); }
.text-color-3 { color: var(--color-3); }
.text-color-4 { color: var(--color-4); }
.text-color-5 { color: var(--color-5); }
.text-color-6 { color: var(--color-6); }

/* Light text colors */
.text-color-1-light { color: var(--color-1-light); }
.text-color-2-light { color: var(--color-2-light); }
.text-color-3-light { color: var(--color-3-light); }
.text-color-4-light { color: var(--color-4-light); }
.text-color-5-light { color: var(--color-5-light); }
.text-color-6-light { color: var(--color-6-light); }

/* Background colors */
.bg-color-1 { background-color: var(--color-1); }
.bg-color-2 { background-color: var(--color-2); }
.bg-color-3 { background-color: var(--color-3); }
.bg-color-4 { background-color: var(--color-4); }
.bg-color-5 { background-color: var(--color-5); }
.bg-color-6 { background-color: var(--color-6); }

/* Light background colors */
.bg-color-1-light { background-color: var(--color-1-light); }
.bg-color-2-light { background-color: var(--color-2-light); }
.bg-color-3-light { background-color: var(--color-3-light); }
.bg-color-4-light { background-color: var(--color-4-light); }
.bg-color-5-light { background-color: var(--color-5-light); }
.bg-color-6-light { background-color: var(--color-6-light); }

/* Dark background colors */
.bg-color-1-dark { background-color: var(--color-1-dark); }
.bg-color-2-dark { background-color: var(--color-2-dark); }
.bg-color-3-dark { background-color: var(--color-3-dark); }
.bg-color-4-dark { background-color: var(--color-4-dark); }
.bg-color-5-dark { background-color: var(--color-5-dark); }
.bg-color-6-dark { background-color: var(--color-6-dark); }

.btn-1 {
  background-color: var(--color-1);
  color: white;
}

.btn-1:hover {
  background-color: var(--color-1-dark);
}

.btn-2 {
  background-color: var(--color-2);
  color: white;
}

.btn-2:hover {
  background-color: var(--color-2-dark);
}

.btn-3 {
  background-color: var(--color-3);
  color: white;
}

.btn-3:hover {
  background-color: var(--color-3-dark);
}

.btn-4 {
  background-color: var(--color-4);
  color: white;
}

.btn-4:hover {
  background-color: var(--color-4-dark);
}

.btn-5 {
  background-color: var(--color-5);
  color: white;
}

.btn-5:hover {
  background-color: var(--color-5-dark);
}

.btn-6 {
  background-color: var(--color-6);
  color: white;
}

.btn-6:hover {
  background-color: var(--color-6-dark);
}

