.card-footer.buttons {
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.card-footer.buttons * {
  width: 100%;
}

.card-footer.buttons .btn {
  border-radius: 0;
  width: 100%;
}
