APP_SECRET=
DATABASE_URL="mysql://{USER}:{PASSWORD}@127.0.0.1:3306/learn_quest?serverVersion=8.0.41-MariaDB&charset=utf8mb4"
JWT_PASSPHRASE=
MERCURE_JWT_SECRET=
MERCURE_URL="http://mercure/.well-known/mercure"
MERCURE_PUBLIC_URL="http://localhost:3000/.well-known/mercure"
OPEN_AI_API_KEY=